*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.button{
    padding: 12px;
    border-radius: 10px;
    background-color: #20a8b4;
}

.header{
    background-color: #F2F2F2;

}

.header:hover{
    color: #ff5c0f;
}

.button:hover{
    background-color: #ff5c0f;
}

.code{
    color: #ff5c0f;
}